/*
Theme Name: Open
Theme URI: https://dral.eu/open
Author: Michiel Dral! <michiel@dral.eu>
Author URI: https://dral.eu/
Description: Wow!
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Open
Text Domain: open

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

* {
  font-weight: 200;
}

.site-title {
  padding: 20px;
}

.site-title a {
	font-weight: 200;
	font-size: 3.5em;
  color: #666;
}

.site-title a:hover {
  text-decoration: none;
}

/*body {
	background-color: black;
	background: url('http://witehauz.dk/wp-content/uploads/2013/10/ddc-rainbow1.jpg') no-repeat center center fixed;
	background-size: cover;
}*/

.nav {
  min-width: 25%;
  position: relative;
  z-index: 10;
}

.nav ul {
	padding-top: 10px;
	list-style-type: none;
	padding-left: 0;
}

.nav li {
  width: 100%;
	margin-bottom: 20px;
	padding: 5px;
	padding-left: 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.nav a {
	color: #666;
	background-color: rgba(255,255,255,.8);
	font-size: 20px;
	padding: 14px;
	padding-right: 30px;
	min-width: 50px;
	transition: background-color .2s;
}

.nav a:hover {
	text-decoration: none;
	color: #000;
	background-color: rgba(255,255,255,1);
}


#wpadminbar {
	display: none;
}

.content-area {
	box-shadow: 0 0 24px 7px rgba(0,0,0,.2);
	background-color: rgba(255,255,255,.93);
	padding: 10px 30px 30px 30px;
	font-size: 20px;
  position: absolute;
}

h1 {
	font-weight: lighter;
}

/* Background slider */
.background {
	z-index: -10;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	transition: opacity 4s;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}

.current-background {
	opacity: 1;
	background-size: cover;
}

.prev-background {
	opacity: 0;
	background-size: cover;
}

.deeper {
  display: inline;
  margin-left: 10px;
}

.deeper li {
  display: inline;
}

.deeper a {
  background-color: rgba(255,255,255,1);
}

.closed {
  display: none;
}

@media (min-width: 992px) {
  .nav {
    float: left;
  }
}

.content-area {
  transition: all .2s;
}
.blur .content-area {
  -webkit-filter: blur(1px);
}


/* Responsive */
.site-title a > * {
    margin-left: -12px;
}

@media(max-width: 480px) {
  nav ul {
    font-size: 2em;
  }
}
